@use '../abstracts/' as *;

.tf-button {
    @include transition3;
    position: relative;
    display: inline-block;
    background: $color-6;
    color: $white;
    font-weight: $font-w7;
    padding: 0px 43px;
    height: 60px;
    border: none;
    border-radius: 4px;
    line-height: 60px;
    span {
        @include transition3;
        font-family: $font-main;
        font-size: 16px;
        line-height: 1.31875;
        color: $white;
        text-transform: uppercase;
    }
    &:hover {
        background: $color-hover;
        span {
            color: $white;
        }
    }
}

.btn-effect1 {
    .tf-button {
            overflow: hidden;
            border-radius: 30px;
            position: relative;
            background: transparent;
            @include transition3;
            &::before {
                opacity: 0;
                @include transition5;
                position: absolute;
                border-radius: 30px;
                content: "";
                background: $bg-gradient3;
                background-size: 200% 100%;
                background-position: 0% 0%;
                width: 100%;
                height: 100%;
                left: 0%;
                top: 0;
                z-index: -1;
                visibility: hidden;
            }
            &::after {
                opacity: 1;
                @include transition5;
                position: absolute;
                border-radius: 30px;
                content: "";
                background: $bg-gradient;
                background-size: 200% 100%;
                background-position: 0% 0%;
                width: 100%;
                height: 100%;
                left: 0%;
                top: 0;
                z-index: -1;
                visibility: visible;
            }
        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
                top: 0;
            }
            &::after {
                opacity: 0;
                visibility: hidden;
            }
        }

    }
}
