@use '../abstracts/' as *;
@include res1760 { 
    .header-search {
        margin-right: 30px;
    }
    .box-slider {
        .image {
            .img {
                margin-right: -100px;
            }
        }
    }
    .swiper-container {
        &.slider-main {
            .swiper-pagination {
                bottom: -40px;
            }
        }
    }
}
@include res1600 { 
    .header {
        .main-nav {
            left: 38%;
        }
    }
    .box-slider {
        .content-box {
            padding-top: 50px;
        }
    }
    .swiper-container {
        &.slider-project {
            margin-right: -200px;
        }
    }
}
@include res1440 { 
    .project-box {
        .hover-effect {
            .content-box {
                padding: 40px 20px;
            }
        }
    }
    .swiper-container {
        &.slider-project {
            margin-right: -100px;
        }
    }
    .header {
        #main-nav {
            left: 23%;
            .menu {
                li {
                    margin-right: 20px;
                }
            }
        }
        .header-contact {
            display: none;
        }
        .header-search {
            margin-right: 20px;
        }
    }
    .box-slider .image .img {
        margin-right: 0;
    }
    .mr-12 {
        margin-right: 0;
    }
    .technology-solution {
        .content-about {
            margin-left: 0;
            padding-right: 0;
        }
    }
}

@include res1200 {
    .get-solution {
        .image {
            margin-top: 0;
            margin-right: 0;
        }
        .title-section {
            padding: 30px 0;
        }
    }
    .team-box {
        .image {
            img {
                width: $w100;
            }
        }
        .content {
            margin-top: -40%;
        }
    }
    .swiper-container {
        &.slider-project {
            margin-right: 0;
        }
    }
    .icon-box {
        &.st1 {
            padding: 30px;
            .title {
                padding-right: 0;
            }
        }
    }
    .box-slider {
        .content-box {
            padding-top: 0;
        }
    }
    .blogdetail {
        .post {
            .content {
                padding: 20px 30px 50px;
            }
        }
    }
    #scroll-top {
        bottom: 60px !important;
    }
    .post {
        .content {
            padding: 20px 30px 50px;
            .date {
                margin-left: -50px;
                padding: 7px 15px;
            }
            .meta-post {
                li {
                    margin: 0 5px 0 5px;
                    padding-right: 10px;
                }
            }
        }
        &.style {
            display: block;
            .content {
                padding: 20px 30px 50px;
                margin-top: -20.8%;
                position: relative;
                left: 0;
            }
        }
    }
    .header {
        .header-right {
            .tf-button {
                padding: 0 30px;
            }
        }
    }
    #sidebar {
        .widget {
            padding: 30px;
        }
    }
    .content-about .wrap {
        padding-right: 0;
    }
    .testimonior-box {
        .content {
            padding: 50px 30px 50px 70px;
        }
    }
    .tf-section {
        &.tf-testimonior {
            .slider-testimonior {
                margin-left: 50px;
            }
        }
    }
}

@include res991 {
    #footer {
        &.style2 {
            .widget {
                &.widget-logo,
                &.widget-infomation,
                &.widget-recent-posts,
                &.widget-service {
                    padding-left: 15px;
                    width: 50%;
                }
            }
            .footer-main {
                padding: 70px 0;
            }
        }
    }
    .blog-post {
        .content {
            padding: 20px 20px 30px;
            ul {
                flex-wrap: wrap;
                padding-bottom: 10px;
                margin-bottom: 20px;
                li {
                    margin-bottom: 10px;
                    &:first-child {
                        margin-right: 15px;
                    }
                    a::before {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .testimonior-content {
        margin-bottom: 30px;
    }
    .tf-section {
        &.tf-testimonior {
            .testimonior-pagination,
            .icon-absolute {
                display: none;
            }
            .slider-testimonior {
                margin-left: 0;
            }
        }
    }
    .testimonior-box {
        .content {
            .quote {
                right: 10%;
            }
        }
    }
    .technology-solution {
        .overlay {
            width: $w100;
            bottom: 0;
        }
        .image-about {
            img {
                width: $w100;
            }
        }
        .content-about {
            padding-top: 40px;
        }
    }
    .mb52 {
        margin-bottom: 30px;
    }
    .slider-project {
        margin-top: 40px;
    }
    .content-about {
        .wrap {
            display: block;
            .tf-button {
                margin-bottom: 20px;
            }
            .img-box {
                justify-content: flex-start;
            }
        }
        .wrap-icon-box {
            display: block;
            .icon-box {
                width: $w100;
                margin-bottom: 30px;
            }
        }
    }
    .title-section {
        margin-bottom: 30px !important;
    }
    
    .pb25 {
        padding: 0;
    }
    .pr70 {
        padding-right: 0;
    }
    .home1 {
        .tf-section {
            &.tf-about {
                .content-about {
                    .txt-transform {
                        padding-right: 0;
                    }
                }
            }
            &.technology-solution {
                padding: 90px 0;
            }
        }
    }
    .icon-box {
        &.st1 {
            margin-bottom: 30px;
        }
    }
    .swiper-container {
        &.slider-main {
            .swiper-pagination {
                display: none;
            }
        }
    }
    .main {
        &.home1 {
            .page-title {
                background: url(./../../assets/images/backgroup/bgslider1.jpg) 120px center no-repeat;
                background-size: cover;
            }
            .tf-section {
                &.tf-about {
                    .img-about {
                        margin-bottom: 40px;
                        &.pb52 {
                            padding-bottom: 150px;
                        }
                        width: $w100;
                    }
                }
            }
        }
    }
    .box-slider {
        .image {
            display: none;
        }
        .content-box {
            width: $w100;
            padding-right: 0;
            .desc {
                padding-right: 0;
            }
        }
    }
    .tf-section {
        padding: 100px 0;
    }
    .header {
        .header-right {
            margin-right: 40px;
        }
    }
    .mobile-button {
        display: block;
    }
    .tf-post {
        .wrap-fx {
            display: block;
        }
        article,
        #sidebar {
            width: $w100;
            padding: 0;
        }
        article {
            margin-bottom: 50px;
        }
        
    }
    .post {
        .image {
            width: $w100;
            img {
                width: $w100;
            }
        }
    }
    .m-t51 {
        margin-bottom: 40px;
    }
    .mobie-bt0 {
        margin-bottom: 0 !important;
    }
    #footer {
        .widget {
            margin-bottom: 40px;
            &.widget-logo,
            &.widget-subscribe,
            &.widget-infomation,
            &.widget-service {
                padding:0 15px;
                width: 50%;
            }
        }
        .footer-main {
            // padding: 120px 0 30px;
            .footer-bottom {
                margin-top: 40px;

            }
        }
        .footer-top {
            .footer-inner {
                padding: 45px 30px;
            }
        }
    }
}

@include res767 {
    .get-solution {
        .title-section {
            padding: 70px 0 40px;
        }
        .image {
           img {
               width: $w100;
           }
        }
    }
    .blog-post {
        margin-bottom: 30px;
    }
    .box-slider {
        .content-box {
            .title {
                font-size: 54px;
            }
        }
    }
    .wrap-widget {
        display: block;
        .widget {
            &.widget-tag {
                margin-bottom: 20px;
            }
            &.widget-social {
                justify-content: flex-start;
            }
        }
    }
    .wrap-box-details {
        display: block;
        .previous {
            padding: 0;
            margin-bottom: 30px;
        }
        .next {
            padding: 0;
        }
        .previous,
        .next {
            width: $w100;
        }
    }
    .blogdetail {
        .post {
            .content {
                padding: 15px 20px 30px;
            }
            .post-inner {
                display: block;
                .img {
                    margin-bottom: 20px;
                    img {
                        min-height: auto;
                        min-width: auto;
                        width: $w100;
                    }
                }
                .desc {
                    margin-left: 0;
                }
            }
            .author-post {
                padding: 30px 20px;
                .img {
                    margin-right: 20px;
                }
            }
        }
    }
    .post {
        .content {
            padding: 15px 20px 30px;
            .meta-post {
                margin-top: 15px;
                flex-wrap: wrap;
                margin-bottom: 10px;
                li {
                    margin-bottom: 15px;
                }
            }
            .date {
                margin-left: -40px;
            }
        }
        .image {
            .popup-youtube {
                padding: 10px;
                top: 10%;
                .play {
                    width: 60px;
                    height: 60px;
                    i {
                        font-size: 20px;
                    }
                }
            }
        } 
    }
   .tf-section.tf-partner,
    .tf-section {
        padding: 70px 0;
    }
    .breadcrumbs {
        .heading {
            font-size: 50px;
        }
    }
    .mobie-bt0 {
        margin-bottom: 0 !important;
    }

    .header {
        .header-right {
            display: none;
        }
    }
    .footer-top {
        .footer-inner {
            margin-bottom: -15%;
            display: block;
            text-align: center;
            h3 {
                margin-bottom: 20px;
            }
        }
    }
    .themesflat-pagination {
        ul {
            li {
                &.st {
                    margin: 0 5px;
                }
                &:last-child {
                    margin-right: 0;
                    margin-left: 10px;
                }
                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }
    #comments {
        .comment-list {
            article {
                .gravatar {
                    margin-right: 20px;
                }
                .comment-content {
                    .wrap-fx {
                        .comment-author {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
    .blogdetail .post .wrap-inner,
    .comment-post {
        padding-left: 20px;
        padding-right: 20px;
    }
    .wrap-widget {
        .widget {
            .title-widget {
                margin-right: 10px;
            }
            &.widget-tag {
                ul {
                    li {
                        margin-right: 5px;
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            padding: 0 6px;
                        }
                    }
                }
            }
            &.widget-social {
                .title-widget {
                    margin-right: 10px;
                }
            }
        }
    }
}

@include res600 {
    .footer-main {
        .footer-bottom {
            .wrap-fx {
                display: block;
                text-align: center;
                .Copyright {
                    margin-bottom: 10px;
                }
                .list {
                    @include flex(center,center);
                    &::after {
                        @include leftcenter;
                    }
                }
            }
        }
    }
    .blogdetail {
        .post {
            .author-post {
                display: block;
                text-align: center;
                .img {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                .content-inner {
                    .social {
                    justify-content: center;
                        li {
                            margin: 0 10px;
                        }
                    }
                }
            }
            .testimonior {
                padding: 20px 15px;
                .img {
                    margin-right: 15px;
                }
            }
        }
    }
}
@include res500 {
    #footer {
        &.style2 {
            .widget {
                &.widget-logo,
                &.widget-infomation,
                &.widget-recent-posts,
                &.widget-service {
                    width: 100%;
                }
            }
            .footer-bottom {
                height: 100px;
            }
        }
    }
    .testimonior-box .content .quote {
        display: none;
    }
    #comments {
        .comment-list {
            article {
                &.inner {
                    padding-left: 0;
                }
                .comment-content {
                    .wrap-fx {
                        display: block;
                    }
                }
            }
        }
    }
    .post .content .title {
        font-size: 25px;
    }
    #footer {
        .widget {
            margin-bottom: 40px;
            &.widget-logo,
            &.widget-subscribe,
            &.widget-infomation,
            &.widget-service {
                padding:0 15px;
                width: 100%;
            }
        }
        .footer-main {
            .footer-bottom {
                margin-top: 40px;
            }
        }
    }
    .page-title .wrap-btn {
        .tf-button,
        .tf-button-st2  {
            display: inline-block;
        }
    }
 
}
