@use '../abstracts/' as *;

/* animation slider */
.box-slider .content-box .btn-slider,
.box-slider .content-box .desc,
.box-slider .content-box .title,
.box-slider .content-box .sub-title {
    transform: translateY(100px);
    opacity: 0;
}

.box-slider .image {
    transform: translateX(100px);
    opacity: 0;
}

.swiper-slide-active .box-slider .image {
    opacity           : 1;
    visibility        : visible;
    -webkit-transition: transform 500ms ease, opacity 500ms ease;
    -moz-transition   : transform 500ms ease, opacity 500ms ease;
    -ms-transition    : transform 500ms ease, opacity 500ms ease;
    -o-transition     : transform 500ms ease, opacity 500ms ease;
    transition        : transform 500ms ease, opacity 500ms ease;
    transition-delay  : 500ms;
}
.swiper-slide-active .box-slider .content-box .btn-slider,
.swiper-slide-active .box-slider .content-box .desc,
.swiper-slide-active .box-slider .content-box .title,
.swiper-slide-active .box-slider .content-box .sub-title {
    opacity           : 1;
    visibility        : visible;
    -webkit-transition: transform 800ms ease, opacity 800ms ease;
    -moz-transition   : transform 800ms ease, opacity 800ms ease;
    -ms-transition    : transform 800ms ease, opacity 800ms ease;
    -o-transition     : transform 800ms ease, opacity 800ms ease;
    transition        : transform 800ms ease, opacity 800ms ease;
    transition-delay  : 1000ms;
}
.swiper-slide-active .box-slider .content-box .btn-slider,
.swiper-slide-active .box-slider .content-box .desc,
.swiper-slide-active .box-slider .content-box .title,
.swiper-slide-active .box-slider .content-box .sub-title {
    transform: translateY(0px) !important;
}

.swiper-slide-active .box-slider .image {
    transform: translateX(0px) !important;
}
.swiper-slide-active .box-slider .image,
.swiper-slide-active .box-slider .content-box .sub-title {
    transition-delay: 400ms;
}

.swiper-slide-active .box-slider .content-box .title {
    transition-delay: 500ms;
}

.swiper-slide-active .box-slider .content-box .desc {
    transition-delay: 600ms;
}

.swiper-slide-active .box-slider .content-box .btn-slider {
    transition-delay: 700ms;
}

.title-section {
    margin-bottom: 60px;
    text-align: center;
    .sub-title {
        padding-left: 70px;
        position: relative;
        display: inline-block;
        text-align: center;
        color: #9000FF;
        @include font-16;
        font-family: $font-main;
        font-weight: 500;
        text-transform: capitalize;
        &::before {
            position: absolute;
            height: 4px;
            width: 60px;
            content: "";
            left: 0;
            top: 11px;
            transform: rotate(-180deg);
            background: linear-gradient(246.06deg, #CF00FE 15.37%, rgba(255, 255, 255, 0) 87.05%);
        }
    }
    .title {
        &.white {
            color: $white;
        }
        &.txt-capitalize {
            text-transform: capitalize;
        }
    }
    &.style2 {
        text-align: left;
    }
}

.breadcrumbs {
    text-align: center;
    .heading {
        text-transform: capitalize;
        color: $white;
        margin-bottom: 20px;
    }
    ul {
        @include flex(center,center);
        li {
            font-family: $font-main;
            position: relative;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 1.55;
            color: $color-5;
            font-weight: 700;
            &:last-child {
                padding-left: 15px;
                margin-left: 10px;
                &::before {
                    position: absolute;
                    left: 0;
                    content: "/";
                    color: $white;
                }
            }
            a {
                color: $white;
                &:hover {
                    color: $color-5;
                }
            }
        }
    }
}

.page-title {
    position: relative;
    padding: 100px 0 107px;
    background: rgba(1, 12, 42, 0.85);
    .overlay {
        @include overlay;
        background: url('./../../assets/images/backgroup/bg-page-title.jpg') center center no-repeat;
        background-size: cover;
        z-index: -1;
    }
}

.tf-post {
    article {
        width: 66%;
        padding-right: 2px;
    }
    #sidebar {
        width: 34%;
        padding-left: 48px
    }
    #comments {
        article {
            width: 100%;
        }  
    }
}

.themesflat-pagination {
    ul {
        @include flex2;
        li {
            margin-right: 10px;
            a {
                @include flex(center,center);
                width: 50px;
                height: 50px;
                background: transparent;
                border: 1px solid $color-hover;
                border-radius: 50%;
                font-size: 16px;
                line-height: 24px;
                font-family: $font-main;
                font-weight: bold;
                color: $color-hover;
                &:hover,
                &.active {
                    background: $color-hover;
                    color: $white;
                }
            }
            &.st {
                font-size: 16px;
                line-height: 24px;
                font-family: $font-main;
                font-weight: bold;
                color: #000000;
                padding-top: 13px;
                margin: 0 9px 0 18px;
            }
            &:last-child {
                margin-left: 20px;
            }
        }
    }
}

.box-slider {
    @include flex2;
    .image,
    .content-box {
        width: 50%;
    }
    .image {
        text-align: right;
        .img {
            animation: move3 3s infinite linear;
            margin-right: -235px;
            margin-left: 20px;
            position: relative;
            border-radius: 5px;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                border: 15px solid $white;
                content: "";
                width: 100%;
                height: 100%;
                box-shadow: $box-shadow3;
                border-radius: 5px;
            }
        }
    }
    .content-box {
        padding-top: 110px;
        padding-right: 30px;
        .sub-title {
            color: $color-7;
            text-transform: capitalize;
            font-family: $font-main;
            font-weight: 500;
            @include font-16;
            padding-left: 80px;
            position: relative;
            &::before {
                position: absolute;
                height: 4px;
                width: 60px;
                content: "";
                left: 0;
                top: 12px;
                transform: rotate(-180deg);
                background: linear-gradient(246.06deg, #CF00FE 15.37%, rgba(255, 255, 255, 0) 87.05%);
                box-shadow: 0 -3px 4px 0 rgb(0 0 0 / 0.25);
            }
        }
        .title {
            text-transform: capitalize;
            margin-bottom: 30px;
        }
        .desc {
            font-size: 20px;
            line-height: 32px;
            text-transform: capitalize;
            padding-right: 100px;
            margin-bottom: 51px;
        }
        .tf-button {
            padding: 0px 42px;
        }
    }
}

.img-about {
    position: relative;
    .experience-box {
        max-width: 290px;
        text-align: left;
        position: absolute;
        left: 0;
        bottom: 0;
        background: $color-main1;
        border-radius: 5px;
        padding: 50px 40px 42px;
        .number-content {
            margin-bottom: 20px;
            font-size: 70px;
            line-height: 80px;
            font-weight: bold;
            font-family: $font-main;
            color: $white;
        }
        p,
        h5 {
            color: $white;
        }
        h5 {
            margin-bottom: 20px;
        }
        p {
            text-transform: capitalize;
            padding-left: 20px;
            margin-bottom: 0;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 2px;
                height: 100%;
                background: #C4C4C4;
            }
        }
    }
}

.content-about {
    .wrap-icon-box {
        border-bottom: 1px solid #E8E8E9;
        padding-bottom: 40px;
        margin-bottom: 40px;
        margin-top: 44px;
    }
    .wrap {
        padding-right: 50px;
        @include flex(center,space-between);
        .img-box {
            @include flex(flex-start,space-between);
            .img {
                margin-right: 20px;
            }
            .name {
                font-size: 18px;
                line-height: 28px;
                font-weight: 600;
                font-family: $font-main;
                color: #1B1D21;
                text-transform: capitalize;
            }
            p {
                margin-bottom: 0;
                color: #005DE0;
                @include font-14;
            }
        }
    }
}

.testimonior-content {
    .txt-transform {
        color: $white;
    }
}
.tf-section {
    &.get-solution {
        padding: 0;
    }
}
.get-solution {
    position: relative;

    .overlay {
        @include overlay;
        background: url('./../../assets/images/backgroup/bg2home1.jpg') center center no-repeat;
        background-size: cover;
        z-index: -2;
    }
    .overlay2 {
        @include overlay;
        z-index: -1;
        background: rgba(1, 12, 42, 0.95);
    }
    .title-section {
        padding: 60px 0;
        text-align: left;
        margin-bottom: 0;
        .title {
            margin-right: -60px;
            color: $white;
            text-transform: capitalize;
            margin-bottom: 20px;
            letter-spacing: -0.3px;
        }
        p {
            color: #E8E8E9;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 10px;
            margin-bottom: 37px;
            text-transform: capitalize;
        }
        .tf-button {
            padding: 0px 41px;
        }
    }
    .image {
        margin-top: -50px;
        margin-right: -116px;
        text-align: right;
    }
}

#top-bar {
    height: 50px;
    background: $color-4;
    .topbar-inner {
        @include flex(center,space-between);
        height: 50px;
        .left {
            width: 70%;
            ul {
                @include flex(center, flex-start);
                li {
                    font-size: 16px;
                    line-height: 24px;
                    color: $color-main1;
                    font-family: $font-main;
                    position: relative;
                    padding-left: 40px;
                    span {
                        margin-left: 5px;
                    }
                    &::before {
                        position: absolute;
                        font-family: "monal";
                        left: 0;
                        top: 0;
                        color: $color-hover;
                    }
                    &:nth-child(1) {
                        margin-right: 30px;
                        padding-right: 34px;
                        &::after {
                            right: 0;
                            top: 2px;
                            position: absolute;
                            content: "";
                            width: 1px;
                            height: 20px;
                            background: #D1D2D3;
                        }
                        &::before {
                            content: "\e91f";
                            font-size: 20px;
                        }
                    }
                    &:nth-child(2) {
                        padding-left: 38px;
                        &::before {
                            content: "\e91e";
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .right {
            @include flex(center,flex-end);
            .language {
                position: relative;
                padding-left: 25px;
                padding-right: 30px;
                &::before {
                    position: absolute;
                    content: "\e916";
                    font-family: 'monal';
                    left: 0;
                    top: 8px;
                    color: $color-hover;
                    font-size: 20px;
                }
                &::after {
                    position: absolute;
                    right: 0;
                    content: "";
                    background: #C4C4C4;
                    width: 1px;
                    height: 20px;
                    top: 15px;
                }
                >a {
                    color: $color-main1;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    font-family: $font-main2;
                    position: relative;
                    padding: 12px 16px 12px 6px;
                    &::after {
                        position: absolute;
                        right: 0;
                        content: "\f107";
                        font-family: "Font Awesome 5 Pro"; 
                    }
                }
                .list-chooser {
                    opacity: 0;
                    z-index: 9999;
                    top: 100%;
                    left: auto;
                    right: 0;
                    position: absolute;
                    width: 150px;
                    background: $bg-gradient;
                    visibility: hidden;
                    @include transition3;
                    padding:10px 20px;
                    li {
                        &:first-child {
                            margin-bottom: 10px;
                        }
                        a {
                            color: $white;
                            font-size: 16px;
                            line-height: 24px;
                            font-family: $font-main;
                            position: relative;
                            padding-right: 20px;
                        }
                    }
                }
                &:hover .list-chooser {
                    opacity: 1;
                    top: 100%;
                    visibility: visible;
                }
            }
            .social {
                margin-left: 34px;
                li {
                    margin-left: 24px;
                    margin-right: 3px;
                    a {
                        width: auto;
                        height: auto;
                        background: none;
                        font-size: 15px;
                        color: $color-main1;
                        &:hover {
                            color: $color-7;
                        }
                    }
                }
            }
        }
    }
}

.side-menu__block {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.side-menu__block-inner {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    width: 100%;
    max-width: 370px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 999999;
}

.side-menu__block-inner::-webkit-scrollbar { 
    display: none; 
}

.side-menu__block-overlay {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    display: none\9;
    visibility: hidden;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.side-menu__block.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.side-menu__top.justify-content-end {
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.side-menu__top.justify-content-end a {
    min-height: 50px;
    min-width: 50px;
    background-color: #b250fe;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu__block.active .side-menu__block-overlay {
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    display: block\9;
    visibility: visible;
    -webkit-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    transform: translateX(-250px);
    cursor: url(../icon/close-1-1.png), auto;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.progress-bar {
    text-align: left;
    display: block;background: transparent;
}

.progress-title-holder {
    @include flex(center,flex-start);
    margin-bottom: 22px;
    height: 50px;
    position: relative;
    .progress-title {
        font-size: 18px;
        line-height: 26px;
        color: $white;
        font-weight: 500;
        font-family: $font-main;
        margin-top: 18px;
    }
    .progress-number-wrapper {
        .progress-number-mark {
            -moz-transform: translateX(-18%);
            -o-transform: translateX(-18%);
            transform: translateX(-18%);
            -ms-transform: translateX(-18%);
            -webkit-transform: translateX(-18%);
            position: absolute;
            top: 0;
            width: 50px;
            height: 60px;
            background: $color-hover;
            @include flex(center,center);
            @include font-16;
            color: $white;
            font-weight: 600;
            font-family: $font-main;
            background: url('./../../assets/images/backgroup/bgunion.png') center center no-repeat;
            background-size: cover;
            .percent {
                margin-top: -10px;
            }
        }
    }
}

.progress-content-outter {
    height: 18px;
    background-color: transparent;
    border: 1px solid $white;
    @include flex(center,flex-start);
    border-radius: 2px;
    padding-left: 3px;
}

.progress-content {
    height: 8px;
    background-color: $white;
    border-radius: 2px;
    width: 0%;
}

.wrap-counter {
    background: $bg-gradient2;
    position: relative;
    @include flex2;
    padding: 42px 60px 60px;
    .box {
        padding-right: 30px;
        width: 25%;
        .icon {
            margin-bottom: -4px;
            span {
                font-size: 60px;
                color: $white;
            }
        }
        .box-couter {
            .number-content {
                margin-bottom: 10px;
                span {
                    font-size: 48px;
                    line-height: 1.125;
                    font-weight: 600;
                    font-family: $font-main;
                    color: $white;
                }
            }
            p {
                text-transform: capitalize;
                color: $white;
                @include font-16;
                font-weight: 500;
                font-family: $font-main;
                margin-bottom: 0;
            }
        }
        &:nth-child(2) {
            padding-left: 45px;
        }
        &:nth-child(3) {
            padding-left: 90px;
        }
        &:nth-child(4) {
            padding-left: 133px;
            padding-right: 0;
        }
    }
}

.content-progress-box {
    &.style2 {
        .progress-bar {
            margin-bottom: 30px;
        }
        .progress-title-holder {
            height: auto;
            .progress-title {
                color: $color-main1;
                margin-top: 0;
            }
            .progress-number-wrapper {
                .progress-number-mark {
                    @include flex(center,flex-end);
                    width: auto;
                    height: auto;
                    background: none;
                    color: $color-main1;
                    -moz-transform: translateX(0);
                    -o-transform: translateX(0);
                    transform: translateX(0);
                    -ms-transform: translateX(0);
                    -webkit-transform: translateX(0);
                    top: 0;
                    right: 0;
                    .percent {
                        margin-top: 0;
                    }
                }
            }
        }
        .progress-content-outter {
            border-color: #D1D2D3;
            height: 14px;
        }
        .progress-content {
            height: 6px;
            background: #7141B1;
        }
    }
}