@use '../abstracts/' as *;

.wrap-fx {
    @include flex2;
}
.m-t51 {
    margin-top: 51px;
}

.mb0 {
    margin-bottom: 0 !important;
}

.pb25 {
    padding: 0 25%;
}

.txt-r {
    text-align: right;
}

.pb40 {
    padding-bottom: 40px;
}

.bg-st1 {
    background: $color-4;
}

.txt-transform {
    text-transform: capitalize;
}

.position-relative {
    position: relative;
}